services:
  app:
    build: .
    volumes:
      - "/app/node_modules"
      - "./package.json:/app/package.json"
      - "./pnpm-lock.yaml:/app/pnpm-lock.yaml"
      - "./src:/app/src"
      - "./migrations:/app/migrations"
      - "./docker-entrypoint.sh:/app/docker-entrypoint.sh"
      - "./docker-start.sh:/app/docker-start.sh"
      - "./tsconfig.json:/app/tsconfig.json"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgres://taelbot:taelbot@postgres:5432/taelbot"
    env_file:
      - .env
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_USER=taelbot
      - POSTGRES_PASSWORD=taelbot
      - POSTGRES_DB=taelbot
    volumes:
      - "postgres-data:/var/lib/postgresql/data"

volumes:
  postgres-data:
